.profile-grid,
.sidebar-grid {
  display: grid;
  gap: 3rem;

  @media (max-width: 760px) {
    grid-template-columns: 1fr;
  }
}

.profile-grid {
  grid-template-columns: minmax(25rem, 1fr) 4fr;
}
.sidebar-grid {
  grid-template-columns: 4fr minmax(25rem, 1fr);
}
