nav {
  padding-top: 1rem;
  padding-bottom: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo,
  .nav-menu {
    text-transform: uppercase;
  }

  .logo {
    color: $textLight;
    font-size: 1.8rem;
    font-weight: 500;
  }

  .nav-menu {
    display: flex;
    align-items: center;

    > *:not(:last-child) {
      margin-right: 2rem;
    }

    &__link,
    &__user {
      display: flex;
      align-items: center;
      color: $textLight3;
      fill: $textLight3;
      transition: 0.4s;

      &:hover {
        color: $textLight;
        fill: $textLight;
      }

      span {
        color: inherit;
        font-weight: 400;
        letter-spacing: 0.5px;
      }

      svg {
        fill: inherit;
      }
    }

    &__Link {
      svg {
        margin-right: 0.5rem;
      }
    }

    &__user {
      position: relative;
      svg {
        margin-left: 0.5rem;
      }

      .dropdown {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        background-color: $bgLight;
        border: 1px solid $bgLight3;
        z-index: 999;

        > *:not(:last-child) {
          border-bottom: 1px solid $bgLight3;
        }

        a {
          display: block;
        }

        h4 {
          padding: 1rem 2rem;
          background-color: $bgLight3;
        }

        a,
        div {
          padding: 1rem 6rem 1rem 2rem;
          text-transform: capitalize;
          color: $textDark2;
          cursor: pointer;

          &:hover {
            background-color: $bgLight2;
          }
        }
      }
    }
  }
}
