button,
.btn {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  border: none;
  outline: none;
  transition: 0.4s;
  cursor: pointer;

  &.block {
    display: block;
    width: 100%;
    padding: 1.6rem;
  }

  &.back {
    margin-bottom: 1.6rem;
  }

  &.small {
    padding: 0.5rem 1rem;
  }

  &.medium {
    padding: 1.6rem 3.2rem;
  }

  &.cart-delete {
    width: 3.1rem;
    height: 3.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      width: 1.6rem;
    }
    color: $dangerColor;
    background-color: transparent;
    border: 1px solid $dangerColor;
  }

  &.light {
    color: $textDark;
    background-color: transparent;

    &:hover {
      background-color: $bgLight2;
    }
  }

  &.dark {
    color: $textLight;
    background-color: $bgDark;

    &:hover {
      background-color: $bgDark2;
    }
  }

  &:disabled {
    color: $textDark;
    background-color: $bgLight3;
    cursor: not-allowed;

    &:hover {
      background-color: $bgLight3;
    }
  }
}

form button[type="submit"] {
  margin: 2rem 0;
}

a.text-link {
  color: orangered;
}

a[disabled] {
  pointer-events: none;
  color: $textLight3;
}
