.form-container {
  margin: 0 auto;
  width: 100%;
  height: max-content;
  max-width: 76rem;
  padding: 2rem;
  border: 1px solid $bgLight3;
}

input,
select,
textarea {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
}

.input-group {
  padding: 1rem 0;

  label {
    margin-bottom: 0.5rem;
    display: block;
    font-weight: 500;
  }

  input {
    width: 100%;
    padding: 1rem;
    border: none;
    background-color: $bgLight2;

    &#upload {
      width: 20rem;
      margin-top: 1rem;
      padding: 0;
      outline: none;
      background-color: $bgLight;
    }

    &#upload::-webkit-file-upload-button {
      display: none;
    }

    &#upload::before {
      margin-right: 1rem;
      content: "Browse";
      display: inline-block;
      padding: 1rem;
      border-radius: 4px;
      color: $textLight;
      background-color: $bgDark;
      cursor: pointer;
    }
  }
}

.radio-group,
.checkbox-group {
  padding: 1rem 0;

  label {
    font-weight: 500;
  }
  input {
    margin-right: 1rem;
  }
}

.textarea-group {
  padding: 1rem 0;

  label {
    margin-bottom: 0.5rem;
    display: block;
    font-weight: 500;
  }

  textarea {
    resize: vertical;
    width: 100%;
    min-height: 15rem;
    padding: 1rem;
    border: none;
    background-color: $bgLight2;
  }
}

select {
  padding: 0.6rem;
  color: $textDark2;
  background-color: $bgLight2;
  border: none;
  outline: none;
}
