.form-container {
  margin: 0 auto;
  width: 100%;
  height: max-content;
  max-width: 50rem;
}

input,
select {
  font-family: "Poppins", sans-serif;
}

.input-group {
  padding: 1rem 0;

  label {
    margin-bottom: 0.5rem;
    display: block;
    font-weight: 500;
  }

  input {
    font-size: 1.6rem;
    width: 100%;
    padding: 1rem;
    border: none;
    background-color: $bgLight3;
  }
}

.radio-group {
  padding: 1rem 0;

  label {
    font-weight: 500;
  }
  input {
    margin-right: 1rem;
  }
}

select {
  padding: 0.6rem;
  color: $textDark2;
  background-color: $bgLight2;
  border: none;
  outline: none;
}
