table {
  width: 100%;
  border-collapse: collapse;

  tr {
    text-align: left;

    &:nth-of-type(odd) {
      background-color: $bgLight;
    }

    &:nth-of-type(even) {
      background-color: $bgLight2;
    }
  }

  th {
    font-weight: 500;
  }
  .paid svg,
  .shipped svg,
  .admin svg {
    margin-top: 8px;
    width: 20px;
    height: 20px;
  }

  tbody {
    border: 1px solid $bgLight3;
  }

  th,
  td {
    padding: 1rem;

    &.true {
      color: $successColor;
      font-weight: 400;
    }

    &.false {
      color: $dangerColor;
      font-weight: 400;
    }
  }
}

@mixin minify {
  th {
    display: none;
  }
  .false svg,
  .admin svg {
    margin: 0;
  }

  tbody {
    border: none;

    > tr:not(:last-child) {
      margin-bottom: 1.6rem;
    }

    tr {
      display: block;
      border: 1px solid $bgLight3;

      &:nth-of-type(even) {
        background-color: $bgLight;
      }

      &:hover {
        background-color: $bgLight;
      }

      td {
        padding: 1rem;
        text-align: right;
      }
    }
  }

  td {
    display: flex;
    align-items: center;
    padding: 0;

    &:nth-of-type(even) {
      background-color: $bgLight2;
    }

    &::before {
      flex: 1 1 50%;
      margin-right: 0.5rem;
      content: "";
      color: $textDark2;
      font-weight: 500;
      text-align: left;
    }

    // Pseudo headings
    &.id:before {
      content: "ID";
    }

    &.created:before {
      content: "Created";
    }

    &.price:before {
      content: "Price";
    }

    &.paid:before {
      content: "Paid";
    }

    &.shipped:before {
      content: "Shipped";
    }

    &.name:before {
      content: "Name";
    }

    &.email:before {
      content: "Email";
    }

    &.admin:before {
      content: "Admin";
    }
    &.actions:before {
      content: "Actions";
    }
    &.brand:before {
      content: "Brand";
    }
    &.category:before {
      content: "Category";
    }
  }
}

table.split {
  @media (max-width: 1155px) {
    @include minify;
  }
}

table.full {
  @media (max-width: 900px) {
    @include minify;
  }
}

table.products-table {
  @media (max-width: 1200px) {
    @include minify;
  }
}
