// Page width
$containerWidth: 144rem;

// Page padding
$desktopPadding: 4rem;
$tabletPadding: 2.4rem;
$mobilePadding: 1.6rem;

// Backgrounds
$bgDark: #000;
$bgDark2: lighten($bgDark, 5%);
$bgDark3: lighten($bgDark, 10%);

$bgLight: #fff;
$bgLight2: darken($bgLight, 5%);
$bgLight3: darken($bgLight, 10%);

// Text
$textLight: #fff;
$textLight2: darken($textLight, 10%);
$textLight3: darken($textLight, 30%);

$textDark: #000;
$textDark2: lighten($textDark, 10%);
$textDark3: lighten($textDark, 30%);

$starColor: #f8e825;
$infoColor: #1e79a3;
$dangerColor: #dc143c;
$successColor: #1d860f;
