nav {
  padding-top: 1rem;
  padding-bottom: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo,
  .nav-menu {
    text-transform: uppercase;
  }

  .logo {
    color: $textLight;
    font-size: 1.8rem;
    font-weight: 500;
  }

  .nav-menu {
    display: flex;
    align-items: center;

    > a:not(:last-child) {
      margin-right: 2rem;
    }

    &__link {
      display: flex;
      align-items: center;

      svg {
        margin-right: 0.5rem;
        fill: $textLight3;
      }

      span {
        color: $textLight3;
        font-weight: 400;
        letter-spacing: 0.5px;
      }
    }
  }
}
