.message {
  margin: 1rem 0;
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  padding: 1rem;
  color: $infoColor;
  border: 1px solid $infoColor;

  &.error {
    color: $dangerColor;
    border-color: $dangerColor;
  }

  &.success {
    color: $successColor;
    border-color: $successColor;
  }

  &__icon {
    width: 2.4rem;
    min-width: 2.4rem;
    height: 2.4rem;
    margin-right: 1rem;
  }

  &__text {
    font-weight: 500;
  }
}
