.products {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 2rem;
}

.product {
  width: 100%;
  padding: 2rem;
  border: 1px solid $bgLight2;

  &__body {
    padding: 2rem 1rem 1rem 1rem;
  }

  &__rating {
    margin: 1rem 0;
    color: $textDark3;
    font-size: 1.4rem;

    &__star {
      margin-right: 0.3rem;
      svg {
        fill: $starColor;
      }
    }

    &__text {
      margin-left: 0.7rem;
    }
  }

  &__price {
    font-size: 2.4rem;
    font-weight: 500;
  }
}
